<div id='pokedex'>
  <div class='pokemon-index'>
    <form class='new-pokemon'>
      <div>
        <label
          for='pokemon_name'>Name:</label>
        <input
          type='text'
          id='pokemon_name'
          name='pokemon[name]'>
      </div>

      <div>
        <label
          for='pokemon_image_url'>Image URL:</label>
        <input
          type='text'
          id='pokemon_image_url'
          name='pokemon[image_url]'>
      </div>

      <div>
        <label
          for='pokemon_poke_type'>Type:</label>
        <select
          id='pokemon_poke_type'
          name='pokemon[poke_type]'>
          <% Pokemon::TYPES.each do |type|%>
            <option><%= type %></option>
          <% end %>
        </select>
      </div>

      <div>
        <label
          for='pokemon_attack'>Attack:</label>
        <input
          type='number'
          id='pokemon_attack'
          name='pokemon[attack]'>
      </div>

      <div>
        <label
          for='pokemon_defense'>Defense:</label>
        <input
          type='number'
          id='pokemon_defense'
          name='pokemon[defense]'>
      </div>

      <div>
        <label
          for='pokemon_move_1'>Move #1:</label>
        <input
          type='text'
          id='pokemon_move_1'
          name='pokemon[moves][]'>
      </div>

      <div>
        <label
          for='pokemon_move_2'>Move #2:</label>
        <input
          type='text'
          id='pokemon_move_2'
          name='pokemon[moves][]'>
      </div>

      <button>Create Pokemon</button>
      <br>
    </form>

    <ul class='pokemon-list'></ul>
  </div

  ><div class='pokemon-detail'>
    <script type="text/template" id="detail-template">
      <h3> <%%= name %> </h3>
      <h4> <%%= poke_type %> </h4>
      <img src="<%%= image_url %>" />
      <p><strong>Attack: </strong> <%%= attack %> </p>
      <p><strong>Defense: </strong> <%%= defense %> </p>
      <p><strong>Moves: </strong> <%%= moves.join(", ") %> </p>
    </script>
	</div>

  <div class='toy-detail'>
    <script type="text/template" id="toy-template">
      <h3> <%%= name %> </h3>
      <img src="<%%= image_url %>" />
      <p><strong>Happiness: </strong> <%%= happiness %> </p>
      <p><strong>Price: </strong> <%%= price %> </p>
    </script>
  </div>

</div>
